/*RoboPig is a simple dice game in which points are then used for a second game stage, a simple rpg-style battle between RoboPigs*/

/*Basic Pig assets(layout of player frames) from Udemy JavaScript course. All pig image assets, energy bar assets, scripting, and styling of RoboPigs, RoboPig Store, and RoboPig battle are the production of Bezlonir aka Michael Bragg*/

/**********************************************
*** GENERAL
**********************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Francois One', sans-serif;
    user-select: none;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-image: url('../images/back.jpg');
    background-size: cover;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
    overflow:hidden;
}

#absolute-wrapper {
  
}

/*///////////////////////////////////
******** title styling
///////////////////////////////////*/


#title {
  background: linear-gradient(rgba(100,100,100, 0.90),rgba(130, 130, 130, 0.95));
  /*background-color:rgba(40,40,80,.8);*/
  background-size:cover;
  background-repeat:no-repeat;
  text-align: center;
  height: 8vh;
  width: 100%;
}

.title-wrap {
  background:linear-gradient(rgba(71,50,35,0.6), rgba(63,15,45,0.6)), url('../images/brushedsteel4-600x450.jpg');
  overflow:hidden;
  height:100%;
  max-width:40%;
  margin: auto;
  border-left: solid 1px rgba(30, 30, 30, 0.6);
  border-right: solid 1px rgba(30, 30, 30, 0.6);
}

.robo-title {
  color:rgba(140,140,140,.95);
  font-family:'Francois One', sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  text-shadow: 1px 1px #1b1b1b,
              -1px 1px #1b1b1b,
              1px -1px #1b1b1b,
              -1px -1px #1b1b1b,
              0px 0px 5px #1b1b1b;
}

.pig-title {
  color:rgba(200,160,160,.95);
  font-family:'Francois One', sans-serif;
  font-weight: 600;
  font-size: 3rem;
  text-shadow: 1px 1px #1b1b1b,
              -1px 1px #1b1b1b,
              1px -1px #1b1b1b,
              -1px -1px #1b1b1b,
              0px 0px 5px #1b1b1b;

}


/* ///////////////////////////////////
******* Template
/////////////////////////////////// */

#main-view {
  height:92vh;
  width:100%;
  display:flex;
  background: linear-gradient(rgba(140, 60, 100, 0.3), rgba(90, 60, 160, 0.3));
  box-shadow: 0px -1px 3px rgba(30, 30, 30, .7);
  transition: all 0.3s;
}

.store-1, .store-2, .pig-view-1, .pig-view-2, .game-unities {
  flex-basis:20%;
  transition: flex-basis 0.3s;
}

.pig-view-1 {
  border-left: 1px solid rgba(30, 30, 30, .6);
}

.pig-view-2 {
  border-right: 1px solid rgba(30, 30, 30, .6);
}

.store-1, .store-2 {
  background: linear-gradient(rgba(160, 80, 100, 0.4), rgba(100, 80,160, 0.4)), url('../images/aluminum-bg-1920x1080.jpg');
}

/* used as a boolean variable by framer.js */
.collapsed {

}

/* used as a boolean variable by framer.js */
.expanded {

}

.shift-left {
  transform: translateX(-20%);
}

@media only screen and (max-width: 767px) {
  .store-1, .store-2 {
    flex-basis:5%;
  }

  .pig-view-1, .pig-view-2, .game-unities {
    flex-basis:30%;
  }
}


/* /////////////////////////////////////
******* Player Frame Styling
///////////////////////////////////// */

.player-1-frame, .player-2-frame {
  height: 20rem;
  width: 16rem;
  border: 1px solid #111;
  display: flex;
  flex-direction: column;
  z-index:12;
  position:relative;
}

.player-name-1, .player-name-2 {
  height:12%;
  width:100%;
  background-color: rgb(220,220,220);
  padding-left:1px;
  padding-right:1px;
  text-align:center;
}

.player-name-1 h3, .player-name-2 h3 {
  font-family:'Allegreya', sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  padding-top: 0.1rem;
}

.pig-main {
  height: 90%;
  width: 100%;
  display: flex;
}

.primary-pig {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction:column;
}

.main-1 .pig-energy {
  border-left: 1px solid rgba(20, 20, 60, 1);
}

.main-2 .pig-energy {
  border-right: 1px solid rgba(20, 20, 60, 1);
}

.player-current-box {
  background-color: #2D8B2D;
  color: #fff;
  height: 37%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction:column;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgba(20, 20, 60, 1);
}

.player-current-label {
  text-transform: uppercase;
  font-family:'Francois One', sans-serif;
  font-size: 1.6rem;
  color: #222;
}

.player-current-score {
  font-family:'Francois One', sans-serif;
  font-size: 3rem;
  text-shadow: 1px 1px #3b3b3b,
              -1px 1px #3b3b3b,
              1px -1px #3b3b3b,
              -1px -1px #3b3b3b,
              0px 0px 5px #3b3b3b;
}

.pig-energy {
  width:20%;
  height:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  background-color:rgb(120, 120, 120);
}

.energy-outer {
  height: 70%;
  width: 80%;
  border: 1px solid rgba(60,60,60,.9);
  border-radius:2rem;
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  background-color: rgb(80,80,80);
  overflow:hidden;
}


.energy-inside {
  background: linear-gradient(-170deg, rgb(140,200,120) 0%, rgb(120,200,120) 100%);
  display: flex;
  align-items:center;
  justify-content:center;
  height:70%;
  width:100%;
  z-index:16;
}

.energy-count h4 {
  font-family:'Francois One', sans-serif;
  font-size: 1.8rem;
  color: #4DCB4D;
  padding-top: 0.2rem;
  text-shadow: 1px 1px #3b3b3b,
              -1px 1px #3b3b3b,
              1px -1px #3b3b3b,
              -1px -1px #3b3b3b;
}

@media only screen and (max-width: 767px) {
  .player-1-frame, .player-2-frame {
    height: 30rem;
    width: 24rem;
  }

  .player-current-label {
    font-size: 2rem;
  }
}


/**********************************************
*** PLAYERS
**********************************************/

.player-name {
    letter-spacing: .1rem;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 0px 6px 3px rgba(80, 180, 80, 0);
    transition: box-shadow 0.2s;
}

.active { box-shadow: inset 0px 0px 8px 4px rgba(120, 180, 120, 0.6); }
.active h3 { font-weight: 800; }

button {

    /* color: #555; */
    background: none;
    border: none;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

img {
  transition: background-color 0.3s, color 0.3s;
}

button:hover { font-weight: 600; }

button:focus {
    outline: none;
}

.btn-hold {
  width: 80%;
  height:15%;
  font-size:2rem;
  z-index:10;
  text-shadow: 1px 1px rgba(30, 30, 30, .9),
              -1px 1px rgba(30, 30, 30, .9),
              1px -1px rgba(30, 30, 30, .9),
              -1px -1px rgba(30, 30, 30, .9);
}

@media only screen and (max-width: 767px) {
  .btn-hold {
    font-size: 3rem;
    height: 20%;
    width: 90%;

  }
}

.dice {
    height: 14rem;
    position: relative;
    width: auto;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
    transition: background-image 0.3s;
    z-index:14;
}

.dice-inactive {
  pointer-events: none;
}

.shake {
  /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { left: -1px; top: 1px }
    10% { left: -1px; top: -2px }
    20% { left: -3px; top: 0px; }
    30% { left: 3px; top: 2px; }
    40% { left: 1px; top: -1px; }
    50% { left: -1px; top: 2px; }
    60% { left: -3px; top: 1px; }
    70% { left: 3px; top: 1px; }
    80% { left: -1px; top: -1px; }
    90% { left: 1px; top: 2px; }
    100% { left: 1px; top: -2px; }
}

.winner { background-color: #f7f7f7; }
.winner .player-name { font-weight: 300; color: #EB4D4D; }

@media only screen and (max-width: 767px) {
  .dice {
      height: 16rem;
    }
}

/*///////////////////////////////////
********** Pigs Styling
///////////////////////////////////*/

.pig-back-1 {
  background-image:url('../images/pig_back.svg');
  background-color:white;
  background-position:center left;
  background-size:cover;
  background-repeat:no-repeat;
  overflow:hidden;
  width:100%;
  height:63%;
}

.pig-back-1-shade {
  background-color: rgba(20,20,20,0.3);
  width:100%;
  height:100%;
}

.pig-1 {
  background-image:url('../images/robopig.svg');
  background-position:center left;
  background-size:cover;
  background-repeat:no-repeat;
  width:100%;
  height:100%;
}

.pig-rooter-1 {
  background-image:url('../images/trans_wrap.png');
  background-position:center left;
  background-size:cover;
  background-repeat:no-repeat;
  width:100%;
  height:100%;
}

.pig-tooter-1 {
  background-image:url('../images/trans_wrap.png');
  background-position:center left;
  background-size:cover;
  background-repeat:no-repeat;
  width:100%;
  height:100%;
}

.pig-armor-1 {
  background-image:url('../images/trans_wrap.png');
  background-position:center left;
  background-size:cover;
  background-repeat:no-repeat;
  width:100%;
  height:100%;
}

.pig-eye-1 {
  background-image:url('../images/pigeye.svg');
  background-position:center left;
  background-size:cover;
  background-repeat:no-repeat;
  width:100%;
  height:100%;
}

.pig-back-2 {
  background-image:url('../images/pig_back2.svg');
  background-color:white;
  background-position:center right;
  background-size:cover;
  background-repeat:no-repeat;
  overflow:hidden;
  width:100%;
  height:63%;
}

.pig-back-2-shade {
  background-color: rgba(20,20,20,0.3);
  width:100%;
  height:100%;
}

.pig-2 {
  background-image:url('../images/robopig2.svg');
  background-position:center right;
  background-size:cover;
  background-repeat:no-repeat;
  width:100%;
  height:100%;
}

.pig-rooter-2 {
  background-image:url('../images/trans_wrap.png');
  background-position:center right;
  background-size:cover;
  background-repeat:no-repeat;
  width:100%;
  height:100%;
}

.pig-tooter-2 {
  background-image:url('../images/trans_wrap.png');
  background-position:center right;
  background-size:cover;
  background-repeat:no-repeat;
  width:100%;
  height:100%;
}

.pig-armor-2 {
  background-image:url('../images/trans_wrap.png');
  background-position:center right;
  background-size:cover;
  background-repeat:no-repeat;
  width:100%;
  height:100%;
}

.pig-eye-2 {
  background-image:url('../images/pigeye2.svg');
  background-position:center right;
  background-size:cover;
  background-repeat:no-repeat;
  width:100%;
  height:100%;
}


/*//////////////////////////////////
********** Store styling
//////////////////////////////////*/

.tooltip-info-box {
  height: 16rem;
  width: 14rem;
  margin:0;
  background-color:rgb(80,80,80);
  border: solid 1px rgb(120,140,120);
}

.tooltip-info-box p, .tooltip-info-box span {
  font-size: 1.2rem;
}

.tooltip-info-box h3 {
  font-size: 1.4rem;
}

.pig-1-store, .pig-2-store {
  width:16rem;
  height:30rem;
  background:rgba(150,150,150,.3);
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
}

.store-item {
  height:8rem;
  width:12rem;
  overflow:hidden;
}

.pig-1-store h3, .pig-2-store h3 {
  color: white;
  font-family:'Francois One', sans-serif;
  font-size: 1.4rem;
  background:rgba(150,150,150, 1);
  opacity:1;
  margin:0;
  padding:0;
  width:12rem;
  text-align:center;
}

.rooter-store-1, .rooter-store-2, .tooter-store-1, .tooter-store-2, .armor-store-1, .armor-store-2 {
  max-height:100%;
  height:100%;
  max-width:100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color:rgba(50,30,50, .85);
  z-index:630;
}

.piggy-bank-1, .piggy-bank-2  {
  height: 5.5rem;
  width: auto;
  padding: .1rem;
  background-color: rgba(220, 220, 220, .8);
  border-radius: 50%;
  border: 1px solid rgba(30, 30, 30, .95);
  pointer-events: none;
}

@media only screen and (max-width: 767px) {
  .pig-1-store, .pig-2-store {
    width:16rem;
    height:32rem;
  }

  .store-item {
    height:8rem;
    width:14rem;
  }

  .pig-1-store h3, .pig-2-store h3 {
    font-size: 1.6rem;
    width: 14rem;
  }

  .tooltip-info-box {
    height: 20rem;
    width: 24rem;
  }

  .tooltip-info-box p, .tooltip-info-box span {
    font-size: 1.8rem;
  }

  .tooltip-info-box h3 {
    font-size: 1.8rem;
  }
}

.context-filter {
  opacity: .4;
}

.rooter-store-1, .rooter-store-2 {
  background-image:url('../images/roborooterSM.svg');
}

.tooter-store-1 {
  background-image:url('../images/robotootSM.svg');
}

.tooter-store-2 {
  background-image:url('../images/robotoot2SM.svg');
}

.armor-store-1 {
  background-image:url('../images/robocakeSM.svg');
}

.armor-store-2 {
  background-image:url('../images/robocake2SM.svg');
}

.tooltip {
  max-height:100%;
  max-width:100%;
  font-family:'Alegreya', serif;
  font-size: 0.95rem;
  font-weight:400;
  color:rgba(240,240,240,0.9);
  z-index:800;
  display:inline;
}

.tooltip h3 {
  color:rgba(130,220,130,0.9);
  margin-bottom:0.5rem;
}

.tooltip p {
  margin-bottom:0.2rem;
}

.tooltip-info-box {
  padding: 0.3rem;
}

.damage {
  color:rgba(250,250,150,0.9);
}

.healing {
  color:rgba(150,250,150,0.9);
}

.context-filter {
  height:100%;
  width:100%;
}

.trop {
  background:rgba(130,40,40,1);
}


/*---------------------------------
******** Pig Battle styling
---------------------------------*/

.battle-banner {
  height: 20rem;
  width: 30rem;
  background-color: rgba(240, 240, 240, .95);
  position: relative;
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 3px 5px rgba(30, 30, 30, .9);
  transition: bottom .3s;
  transition-timing-function: cubic-bezier(0, 0, .6, 1.6);
  z-index: 1200;
}

.battle-banner h1 {
  font-family: 'Francois One', sans-serif;
  font-size: 6rem;
  color: rgb(30, 30, 30, .95);
  text-align: center;
  margin: auto;
  transition: font-size .3s;
  transition-timing-function: cubic-bezier(0, 0, .6, 1.6);
}

.hp-outer {
  height: 45%;
  width: 80%;
  border: 1px solid rgba(60,60,60,.9);
  border-radius:2rem;
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  background-color: rgb(80,80,80);
  overflow:hidden;
}


.hp-inside {
  background: linear-gradient(-170deg, rgb(130,50,40) 0%, rgb(160,40,40) 100%);
  display: flex;
  align-items:center;
  justify-content:center;
  height:100%;
  width:70%;
}

.battle-wrapper {
  width:84%;
  height:32rem;
  margin-left:auto;
  margin-right:auto;
  margin-top:8rem;
  padding-left:2%;
  padding-right:2%;
  background-color:rgba(180,180,180,.8);
  display:flex;
  justify-content:space-between;
}

.pig-1-commands button, .pig-2-commands button {
  font-family:'Alegrey', serif;
  background-color:rgb(120,120,120);
  color:rgba(255,255,255,.9);
}

.pig-1-commands button:hover, .pig-2-commands button:hover {
  background-color:rgb(220,220,120);
  color:rgba(55,55,55,.9);
}

.pig-1-commands .trop, .pig-2-commands .trop {
  background-color:rgb(140,60,60);
  color:rgba(255,255,220,.9);
}

.pig-1-commands .trop:hover, .pig-2-commands .trop:hover {
  background-color:rgb(90,60,60);
  color:rgba(255,255,220,.9);
}
/*
.info-bar {
  width: 14rem;
}

.battle-wrapper h3 {
  text-align:center;
} */

.pig-1-commands, .pig-2-commands {
  height: 30rem;
  width: 16rem;
  background-color: rgba(140,140,140,.6);
  display: flex;
  flex-direction: column;
  align-items: center;

}

.pig-1-commands button, .pig-2-commands button {
  height: 4rem;
  width: 12rem;
  font-size: 1.6rem;
  margin-top: 1rem;
  box-shadow: inset -1px -1px 1px 1px rgba(30, 30, 30, 0.4),
              inset 1px 1px 1px 1px rgba(220, 220, 220, 0.4),
              -1px -1px 1px 1px rgba(30, 30, 30, 0.6);
}

.battle-text {
  padding:.2rem;
  height: 20rem;
  width: 16rem;
  max-width:100%;
  background-color:rgba(20,30,20,.95);
  color:rgba(220,220,225,.95);
  border:solid 1px rgba(220,230,220,1);
  font-family:'Alegrey', serif;
  font-size:.9rem;
  word-wrap:break-word;
  line-height:1.1rem;
  overflow-y:scroll;
  overflow-x:hidden;
}

.battle-text p {
  font-size: 1.2rem;
}

@media only screen and (max-width: 767px) {
  .battle-text {
    height: 18rem;
    width: 24rem;
  }

  .battle-text p {
    font-size: 1.6rem;
    line-height:1.6rem;
  }
}

/*-------------------------------
********game over styling
-------------------------------*/

.game-over-info-box {
  height: 40rem;
  background-color:rgba(230, 230, 230,.8);
  color:rgba(30, 30, 30, .9);
  width:90%;
  position: relative;
  z-index: 400;

  text-align:center;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  margin-left:auto;
  margin-right:auto;
}

.game-over-info-box h2, .game-over-info-box h3 {
  font-family:'Francois One';
  background-color: rgba(0,0,0,0);
  margin-bottom:1rem;
}

.game-over-info-box h2 {
  font-size:3rem;
  color: rgba(30, 30, 30, .9);
}

.game-over-info-box h3 {
  font-size:2rem;
  color: rgba(30, 120, 30, .9);
}

.game-over-info-box button {
  background-color:rgba(80,80,80,.9);
  color:rgb(230, 230, 230, .9);
  width:16rem;
  height:6rem;
  margin-right:auto;
  margin-left:auto;
  font-family:'Alegreyal', serif;
  font-size:2rem;
  padding:.4rem;
}

.game-over-info-box button:hover {
  background-color:rgba(180,230,180,.9);
}
