/*RoboPig is a simple dice game in which points are then used for a second game stage, a simple rpg-style battle between RoboPigs*/

/*Basic Pig assets(layout of player frames) from Udemy JavaScript course. All pig image assets, energy bar assets, scripting, and styling of RoboPigs, RoboPig Store, and RoboPig battle are the production of Bezlonir aka Michael Bragg*/

/**********************************************
*** GENERAL
**********************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Francois One', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {

    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
    overflow:hidden;
}

/*///////////////////////////////////
******** title styling
///////////////////////////////////*/


#title {
  background-image: url('../images/brushedsteel4-600x450.jpg');
  /*background-color:rgba(40,40,80,.8);*/
  background-size:cover;
  background-repeat:no-repeat;
  text-align: center;
  height: 8vh;
  width: 40%;
  margin-left:auto;
  margin-right:auto;
}

.title-wrap {
  background:linear-gradient(rgba(71,50,35,0.6), rgba(63,15,45,0.6));
  overflow:hidden;
  height:100%;
  max-width:100%;
}

.robo-title {
  color:rgba(140,140,140,.95);
  font-family:'Francois One', sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  text-shadow: 1px 1px #1b1b1b,
              -1px 1px #1b1b1b,
              1px -1px #1b1b1b,
              -1px -1px #1b1b1b,
              0px 0px 5px #1b1b1b;
}

.pig-title {
  color:rgba(200,160,160,.95);
  font-family:'Francois One', sans-serif;
  font-weight: 600;
  font-size: 3rem;
  text-shadow: 1px 1px #1b1b1b,
              -1px 1px #1b1b1b,
              1px -1px #1b1b1b,
              -1px -1px #1b1b1b,
              0px 0px 5px #1b1b1b;

}

/*////////////////////////////////////
******** Energy Bar styling
////////////////////////////////////*/


#energy {
  pointer-events: none;
  position:relative;
  bottom: 120vh;
}

.energy-wrap {
  display: flex;
  pointer-events: none;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 3rem;
  justify-content: space-between;
  height: 20rem;
  z-index:350;
}

.energy-container {
  height: 20rem;
  position:relative;
  top: 0.2rem;
  width:auto;
  display: flex;

}

.player-1-energy-bar {
  background-image: url('../images/energy_meter.svg');
  background-size: cover;
  background-position: center;
  position: relative;
  top: 0.2rem;
  left: 3rem;
  width: 3rem;
  height: 20rem;
  overflow: hidden;
  display:flex;
  z-index:450;
}

.player-1-energy-fill {
  background: none;
  position: absolute;
  display:flex;
  flex:1;
  flex-direction:column-reverse;
  align-items:center;
  top: 0.1rem;
  left:3rem;
  width: 3rem;
  height: 20rem;
  overflow: hidden;
  z-index:440;
}

.fill {
  background-image: url('../images/energy_fill.svg');
  background-size: cover;
  background-position: center bottom;
  background-repeat:no-repeat;
  width: 3rem;
  height: 20rem;
}

.player-2-energy-bar {
  background-image: url('../images/energy_meter.svg');
  background-size: cover;
  background-position: center;
  position: relative;
  top: 0.2rem;

  width: 3rem;
  height: 20rem;
  overflow: hidden;
  display:flex;
  z-index:450;
}

.player-2-energy-fill {
  background-image: none;
  position: absolute;
  display:flex;
  flex:1;
  flex-direction:column-reverse;
  align-items:center;
  top: 0.1rem;
  left: 0rem;
  width: 3rem;
  height: 20rem;
  overflow: hidden;
  z-index:440;
}

/*/////////////////////////////////
********* Dice Game styling
/////////////////////////////////*/


#pig-roll {
  background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(../images/back.jpg);
  background-size: cover;
  background-position: center;
  height:50vh;
}

.wrapper {
    width: 80%;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    height:40vh;
}

.player-1-panel,
.player-2-panel {
    width: 50%;
    float: left;
    height: 20rem;
    padding: 2rem;
}



/**********************************************
*** PLAYERS
**********************************************/

.player-name {
    font-size: 2rem;
    font-family:'Francois One', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: 100;
    margin-top: 5px;
    margin-bottom: 10px;
    position: relative;
}

.active { background-color: #f7f7f7; }
.active .player-name { font-weight: 300; }

.active .player-name::after {
    content: "\2022";
    font-size: 3.2rem;
    position: absolute;
    color: #4DCB4D;
    top: -0.8rem;
    right: 7rem;

}

.player-current-box {
    background-color: #2D8B2D;
    color: #fff;
    width: 40%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
}

.player-current-label {
    text-transform: uppercase;
    font-family:'Francois One', sans-serif;
    margin-bottom: 10px;
    font-size: 1.3rem;
    color: #222;
}

.player-current-score {
    font-family:'Francois One', sans-serif;
    font-size: 3rem;
}

.player-current-score:before {

    font-size: 2rem;
}


button {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: #555;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 1.5rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

img {
  transition: background-color 0.3s, color 0.3s;
}

button:hover { font-weight: 600; }
button:hover i { margin-right: 20px; }

button:focus {
    outline: none;
}

i {
    color: #4DCB4D;
    display: inline-block;
    margin-right: 15px;
    font-size: 2.5rem;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}

.btn-hold {
  position:relative;
  top: 3rem;
  margin-top: -2rem;
  left: 1rem;
  transform: translateX(-50%);
  font-size:2.5rem;
  z-index:600;
}

.dice {
    position: absolute;
    left: 50%;
    top: 3.6rem;
    transform: translateX(-50%);
    height: 12rem;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
    transition: background-image 0.3s;
    z-index:600;
}

.shake {
  /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

.shakeRev {
  /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}


@keyframes shake {
    0% { transform: translate(-1px, 1px) translateX(-50%) rotate(0deg); }
    10% { transform: translate(-1px, -2px) translateX(-50%) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) translateX(-50%) rotate(1deg); }
    30% { transform: translate(3px, 2px) translateX(-50%) rotate(0deg); }
    40% { transform: translate(1px, -1px) translateX(-50%) rotate(1deg); }
    50% { transform: translate(-1px, 2px) translateX(-50%) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) translateX(-50%) rotate(0deg); }
    70% { transform: translate(3px, 1px) translateX(-50%) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) translateX(-50%) rotate(1deg); }
    90% { transform: translate(1px, 2px) translateX(-50%) rotate(0deg); }
    100% { transform: translate(1px, -2px) translateX(-50%) rotate(-1deg); }
}

@keyframes shakeRev {
    0% { transform: translate(-1px, 1px) translateX(50%) rotate(0deg); }
    10% { transform: translate(-1px, -2px) translateX(50%) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) translateX(50%) rotate(1deg); }
    30% { transform: translate(3px, 2px) translateX(50%) rotate(0deg); }
    40% { transform: translate(1px, -1px) translateX(50%) rotate(1deg); }
    50% { transform: translate(-1px, 2px) translateX(50%) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) translateX(50%) rotate(0deg); }
    70% { transform: translate(3px, 1px) translateX(50%) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) translateX(50%) rotate(1deg); }
    90% { transform: translate(1px, 2px) translateX(50%) rotate(0deg); }
    100% { transform: translate(1px, -2px) translateX(50%) rotate(-1deg); }
}




.winner { background-color: #f7f7f7; }
.winner .player-name { font-weight: 300; color: #EB4D4D; }


/*///////////////////////////////////
********** Pigs Styling
///////////////////////////////////*/


#pig-display {
  height:30vh;
  background:url('../images/trans_wrap.png');
  width: 50rem;
  position:relative;
  bottom: 63%;
  z-index: 400;
  margin-left:auto;
  margin-right:auto;
  box-shadow: none;
  pointer-events:none;
}

.pig-wrapper {
  display: flex;
  justify-content:space-between;
}

.pig-back-1 {
  background-image:url('../images/pig_back.svg');
  background-color:white;
  background-position:center left;
  background-size:cover;
  background-repeat:no-repeat;
  overflow:hidden;
  border: 2px solid rgba(20, 20, 60, 1);
  width:16rem;
  height:14rem;
}

.pig-back-1-shade {
  background-color: rgba(20,20,20,0.3);
  width:100%;
  height:100%;
}

.pig-1 {
  background-image:url('../images/robopig.svg');
  background-position:center left;
  background-size:cover;
  background-repeat:no-repeat;
  width:100%;
  height:100%;
}

.pig-rooter-1 {
  background-image:url('../images/trans_wrap.png');
  background-position:center left;
  background-size:cover;
  background-repeat:no-repeat;
  width:100%;
  height:100%;
}

.pig-tooter-1 {
  background-image:url('../images/trans_wrap.png');
  background-position:center left;
  background-size:cover;
  background-repeat:no-repeat;
  width:100%;
  height:100%;
}

.pig-armor-1 {
  background-image:url('../images/trans_wrap.png');
  background-position:center left;
  background-size:cover;
  background-repeat:no-repeat;
  width:100%;
  height:100%;
}

.pig-eye-1 {
  background-image:url('../images/pigeye.svg');
  background-position:center left;
  background-size:cover;
  background-repeat:no-repeat;
  width:100%;
  height:100%;
}

.pig-back-2 {
  background-image:url('../images/pig_back2.svg');
  background-color:white;
  background-position:center right;
  background-size:cover;
  background-repeat:no-repeat;
  overflow:hidden;
  border: 2px solid rgba(20, 20, 60, 1);
  width:16rem;
  height:14rem;
}

.pig-back-2-shade {
  background-color: rgba(20,20,20,0.3);
  width:100%;
  height:100%;
}

.pig-2 {
  background-image:url('../images/robopig2.svg');
  background-position:center right;
  background-size:cover;
  background-repeat:no-repeat;
  width:100%;
  height:100%;
}

.pig-rooter-2 {
  background-image:url('../images/trans_wrap.png');
  background-position:center right;
  background-size:cover;
  background-repeat:no-repeat;
  width:100%;
  height:100%;
}

.pig-tooter-2 {
  background-image:url('../images/trans_wrap.png');
  background-position:center right;
  background-size:cover;
  background-repeat:no-repeat;
  width:100%;
  height:100%;
}

.pig-armor-2 {
  background-image:url('../images/trans_wrap.png');
  background-position:center right;
  background-size:cover;
  background-repeat:no-repeat;
  width:100%;
  height:100%;
}

.pig-eye-2 {
  background-image:url('../images/pigeye2.svg');
  background-position:center right;
  background-size:cover;
  background-repeat:no-repeat;
  width:100%;
  height:100%;
}


/*//////////////////////////////////
********** Store styling
//////////////////////////////////*/


#pig-store {
  height:50vh;
  background:linear-gradient(#8f8f8f, #a3a3a3);
  background-image:url('../images/aluminum-bg-1920x1080.jpg');
  box-shadow: inset 1px 1px 3px rgba(30, 5, 15);
}

.outer-pig-store-wrapper {
  height:100%;
  width:100%;
  background:linear-gradient(rgba(71,50,35,0.6), rgba(63,15,45,0.6));
}

.pig-store-wrapper {
  height:100%;
  width:81%;
  margin-left:auto;
  margin-right:auto;
  display:flex;
  justify-content:space-between;
}

.tooltip-info-box {
  height: 10rem;
  width: 14rem;
  margin-top:10rem;
  background-color:rgb(80,80,80);
  border: solid 1px rgb(120,140,120);
}

.pig-1-store, .pig-2-store {
  width:10rem;
  height:100%;
  background:rgba(150,150,150,.3);
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
}

.store-item {
  height:6rem;
  width:9rem;
  overflow:hidden;
}

.pig-1-store h3, .pig-2-store h3 {
  color: white;
  font-family:'Francois One', sans-serif;
  background:rgba(150,150,150, 1);
  opacity:1;
  margin:0;
  padding:0;
  width:9rem;
  text-align:center;
}

.rooter-store-1, .rooter-store-2, .tooter-store-1, .tooter-store-2, .armor-store-1, .armor-store-2 {
  max-height:100%;
  height:100%;
  max-width:100%;
  background-size:contain;
  background-repeat: none;
  background-position:center;
  background-color:rgba(50,30,50, .85);
  transform:scale(1.8);
  z-index:630;
}

.rooter-store-1, .tooter-store-2 {
  background-position:center left;
}

.armor-store-2 {
  background-position:bottom left;
}

.rooter-store-1, .armor-store-2 {
  transform: scale(1.8) translateX(-10%);
}

.rooter-store-1 .context-filter, .armor-store-2 .context-filter {
  transform: scale(0.5555) translateX(10%);
}

.rooter-store-2 {
  transform: scale(1.8) translateX(-14%);
}

.rooter-store-2 .context-filter {
  transform: scale(0.5555) translateX(14%);
}

.tooter-store-2 {
  transform: scale(1.8) translateX(-22%);
}

.tooter-store-2 .context-filter {
  transform: scale(1.8) translateX(22%);
}


.tooter-store-1, .armor-store-1 {
  background-position: center right;
}

.tooter-store-1 {
  transform: scale(1.8) translateX(22%);
}

.tooter-store-1 .context-filter {
  transform: scale(0.5555) translateX(-22%);
}

.armor-store-1 {
  transform: scale(1.8) translateX(8%);
}

.armor-store-1 .context-filter {
  transform: scale(0.5555) translateX(-8%);
}

.rooter-store-1, .rooter-store-2 {
  background-image:url('../images/roborooter.svg');
}

.tooter-store-1 {
  background-image:url('../images/robotoot.svg');
}

.tooter-store-2 {
  background-image:url('../images/robotoot2.svg');
}

.armor-store-1 {
  background-image:url('../images/robocake.svg');
}

.armor-store-2 {
  background-image:url('../images/robocake2.svg');
}

.tooltip {
  max-height:100%;
  max-width:100%;
  font-family:'Alegreya', serif;
  font-size: 0.95rem;
  font-weight:400;
  color:rgba(240,240,240,0.9);
  z-index:800;
  display:inline;
}

.tooltip h3 {
  color:rgba(130,220,130,0.9);
  margin-bottom:0.5rem;
}

.tooltip p {
  margin-bottom:0.2rem;
}

.tooltip-info-box {
  padding: 0.3rem;
}

.damage {
  color:rgba(250,250,150,0.9);
}

.healing {
  color:rgba(150,250,150,0.9);
}

.context-filter {
  height:100%;
  width:100%;
  z-index:680;
}

.trop {
  background:rgba(180,40,40,1);
}


/*---------------------------------
******** Pig Battle styling
---------------------------------*/

#pig-battle {
  position:relative;
  bottom: 174.5vh;
}

.pig-battle-back {
  height:100vh;
  background-color:rgba(255,255,255,.97);
  /*display:none;*/
  pointer-events:none;
}

.pig-battle-back h1 {
  font-family:'Francois One', sans-serif;
  font-size: 2.5rem;
  text-align:center;
}

.battle-wrapper {
  width:84%;
  height:32rem;
  margin-left:auto;
  margin-right:auto;
  margin-top:8rem;
  padding-left:2%;
  padding-right:2%;
  background-color:rgba(180,180,180,.8);
  display:flex;
  justify-content:space-between;
}

.battle-wrapper button {
  position:static;
  left:0;
  width:auto;
  transform:none;
  font-family:'Alegrey', serif;
  background-color:rgb(120,120,120);
  color:rgba(255,255,255,.9);
  margin-top:.3rem;
  padding:.2rem;
  font-size:.8rem;
  width: 80%;
}

.battle-wrapper button:hover {
  background-color:rgb(220,220,120);
  color:rgba(55,55,55,.9);
}

.battle-wrapper .trop:hover {
  background-color:rgb(80,60,60);
  color:rgba(255,255,220,.9);
}

.battle-wrapper .trop {
  background-color:rgb(80,60,60);
  color:rgba(255,255,220,.9);
}


.info-bar {
  width: 14rem;
}

.battle-wrapper h3 {
  text-align:center;
}

.pig-1-commands, .pig-2-commands {
  height: 16rem;
  margin-top:4rem;
  width: 8rem;
  background-color:rgba(140,140,140,.8);
  display:flex;
  flex-direction:column;
  align-items:center;
}

.battle-active {
  background-color:rgba(120,200,120,.8);
}

.battle-wrapper .tooltip-info-box {
  margin-top:2rem;
}

.battle-text {
  margin-top:4rem;
  padding:.2rem;
  height: 14rem;
  width:inherit;
  max-width:100%;
  background-color:rgba(20,30,20,.95);
  color:rgba(220,220,225,.95);
  border:solid 1px rgba(220,230,220,1);
  font-family:'Alegrey', serif;
  font-size:.9rem;
  word-wrap:break-word;
  line-height:1.1rem;
  overflow-y:scroll;
  overflow-x:hidden;
}

.battle-text p {
  margin-bottom:.3rem;
}


/*-------------------------------
********game over styling
-------------------------------*/

#game-over {
  position:relative;
  bottom: 174.5vh;
  height: 100vh;
  width:100%;
  background-color:rgba(230,230,230,.9);
  color:rgba(60,60,60,.8);
  z-index: 1000;
  padding-top:12rem;
}

.game-over-info-box {
  height: 20rem;
  background-color:rgba(80,80,80,1);
  color:rgba(255,255,255,.8);
  width:80%;

  text-align:center;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  margin-left:auto;
  margin-right:auto;
}

#game-over h2, #game-over h3 {
  font-family:'Francois One';
  background-color:inherit;
  color:rgba(255,255,255,.8);
  margin-bottom:1rem;
}

#game-over h2 {
  font-size:3rem;
}

#game-over h3 {
  font-size:2rem;
}

#game-over button {
  background-color:rgba(180,180,180,.9);
  color:rgb(60,60,60,.8);
  width:10rem;
  height:3rem;
  margin-right:auto;
  margin-left:auto;
  font-family:'Alegreyal', serif;
  font-size:1.5rem;
  padding:.4rem;
}

#game-over button:hover {
  background-color:rgba(180,230,180,.9);
}
